[Unit]
Description=Telegram bot 'tlg_parser_bot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot/telegram_cryptosignals_parser
ExecStart=/usr/bin/python3 /usr/local/bin/bot/telegram_cryptosignals_parser/main.py
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target